.widgetX {
  text-align: center;
}

.widgetX .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.widgetX .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.widgetX .App-header .App-title {
  font-size: 1.5em;
  color: red;
}

.widgetX .App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
